*{
    background-color: black;
    padding: 5px;
}
.box {
    display: flex;
    flex-direction: row;
    width: 780px;
    height: 380px;
    border: none;
    border-top: 2px solid #9C8484;
}
.box img {
    width: 327px;
    height: 328px;
    display: block;
    outline: 0px;
    padding: 0px;
    margin-top: 30px;
    margin-right: 10px;
}
.textside{
    margin-top: 20px;
}
.hhh{
    color: #5E026D;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ppp {
    color: #9C8484;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}
.hhhh{
    color: #5E026D;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.pppp{
    color: #9C8484;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
}